
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(134, 102, 102, 0.04);
}

// .fc-today {
//   background: #f6993f !important;
//   color: white;
//   font-weight: bold;
// }
